<ezstream>
<url>{{ stream_url }}</url>
<sourcepassword>{{ stream_password }}</sourcepassword>
    <format>MP3</format>
    <filename>stdin</filename>
    <!--
      Important:
      For streaming from standard input, the default for continuous streaming
      is bad. Set <stream_once /> to 1 here to prevent ezstream from spinning
      endlessly when the input stream stops:
     -->
    <stream_once>1</stream_once>
    <svrinfoname>Live</svrinfoname>
    <svrinfopublic>0</svrinfopublic>
    <svrinfodescription>DIY live streaming box</svrinfodescription>
    <svrinfobitrate>128</svrinfobitrate>
    <svrinfochannels>2</svrinfochannels>
    <svrinfosamplerate>44100</svrinfosamplerate>
</ezstream>
