<!DOCTYPE html>
html
  head
    <meta charset="utf-8"/>
    
    <title>⚡️ picast</title>
    <meta name="theme-color" content="#81E7EB">
    <meta name="mobile-web-app-capable" content="no">
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="⚡️picast⚡️">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/style.css">
    block header
  block content
