* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: #353535;
  background: rgb(252, 252, 252);
}
body {
  padding-bottom: 62px;
  max-width: 450px;
  margin: 0 auto;
}
h1,h2,h3 {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
h1 {
  font-size: 30px;
}
a:active {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}
.footer {
  font-size: 14px;
  margin: 16px auto 22px auto;
  display: flex;
  justify-content: center;
}

.footer > button {
  font-size: inherit;
  font-weight: bold;
  color: inherit;
  border: 1px solid rgb(236, 236, 236);
  background: rgb(245, 245, 245);
  padding: 0.65em 1.75em;
}
a {
  color: inherit;
  text-decoration: none;
}
