[Unit]
Description=usb soundcard live stream
ConditionPathExists=/dev/soundcard
Wants=network-online.target sound.target
After=network-online.target sound.target

[Service]
WorkingDirectory=/usr/local/lib
Type=simple
ExecStart=/bin/bash -c "/usr/local/bin/stream.sh"
ExecStop=/bin/echo stopping
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
